*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body{
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main{
    width: 90%;
    display: flex;
    flex-direction: column;
}

.logo-title{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding: 10px 0;
}

.logo-title img{
    user-select: none;
    pointer-events: none;
}

.logo-title div{
    display: grid;
    place-content: center;
    font-size: 1.4rem;
    font-weight: bold;
}

.form-container{
    display: grid;
    place-items: center;
    margin-top: 2em;
}

/*inicia elemento cuadrillas*/
.contenedor-cuadrillas{
    display: flex;
    align-items: center;
    margin-inline: auto;
    margin-top: .8rem;
    gap: .4rem;
    width: 90%;
}

.contenedor-cuadrillas label{
    font-weight: bold;
}

.contenedor-cuadrillas label span{
    font-weight: bold;
    color: red;
}

.contenedor-cuadrillas input{
    height: 35px;
    padding: .3rem;
    outline: none;
    border-radius: 4px;
    border: solid 1px rgb(182, 185, 190);
}

.contenedor-cuadrillas input:focus{
    outline: 3px solid rgba(131, 170, 230, .8);
}
/*termina elemento cuadrillas*/

.principal-form{
    display: block;
    width: 100%;
    background: #e7e7e7;
}

.title-datos-principales{
    margin: 1rem 0 0 1rem;
}

.form-sup{
    display: flex;
    margin: 0 auto;
    padding: 2rem 0;
    width: 90%;
    justify-content: space-between;
    gap: 1rem;
}

.form-sup1, .form-sup2{
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 1rem;
}

.form-sup-e{
    padding: .5rem;
    gap: 1rem;
}

.form-sup-e label{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.form-sup-e input{
    height: 25px;
    padding: .3rem;
    outline: none;
}

#user{
    width: 75%;
    height: 25px;
    padding: .3rem;
    outline: none;
}

.title-body{
    margin-left: .5em;
    margin-bottom: 1rem;
}

.section-partes-examinar{
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    gap: 1.8rem;
}

.parte-examinada{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: .8rem;
}

.parte-examinada label{
    font-weight: bold;
    max-width: 60%;
}

textarea{
    padding: .5rem;
    height: 35px;
    width: 30%;
    resize: none;
    outline: none;
}

.conclusion{
    display: flex;
    flex-direction: column;
    margin: 2rem 0 0 1rem;
    gap: 1.8rem;
}

.escalera-apta{
    display: flex;
    gap: 2rem;
}

.escalera-apta label{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.contenedor-supervisor{
    font-weight: bold;
    display: flex;
    margin-bottom: 1.5rem;
}

.contenedor-supervisor label{
    width: 100%;
    display: flex;
    gap: 1rem;
}

#supervisor{
    width: 50%;
    outline: none;
    padding: .5rem;
}

#supervisor-firma{
    display: block;
}

#btnGenerar{
    cursor: pointer;
    position: fixed;
    top: 90px;
    right: 10px;
    color: red;
    padding: .5rem;
    width: min-content;
    border-radius: 60%;
    border: solid 1px red;
    transition: all ease-in-out .2s;
}

#btnGenerar:hover{
    transform: scale(1.4);
}

@media (max-width: 720px){

    .main{
        width: 100%;
    }

    .logo-title{
        flex-direction: column;
        justify-content: center;
        place-items: center;
    }

    .logo-title div{
        font-size: 1rem;
    }

    .form-sup{
        flex-direction: column;
    }

    .form-sup1, .form-sup2{
        width: 100%;
    }

    .parte-examinada{
        gap: .5rem;
        flex-direction: column;
    }

    .parte-examinada label{
        max-width: 90%;
    }

    textarea{
        width: 90%;
    }

    .escalera-apta{
        gap: .5rem;
    }

    .contenedor-supervisor label{
        flex-direction: column;
    }

    #supervisor{
        width: 90%;
    }
}