*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body{
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main{
    width: 90%;
    display: flex;
    flex-direction: column;
}

.logo-title{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding: 10px 0;
}

.logo-title img{
    user-select: none;
    pointer-events: none;
}

.logo-title div{
    display: grid;
    place-content: center;
    font-size: 1.4rem;
    font-weight: bold;
}

.form-container{
    display: grid;
    place-items: center;
    margin-top: 2em;
}

.principal-form{
    display: block;
    width: 100%;
    background: #e7e7e7;
}

.title-datos-principales, h3{
    color: red;
    margin: 1rem 0 0 1rem;
}

.form-sup{
    display: flex;
    margin: 0 auto;
    padding: 2rem 0;
    width: 90%;
    justify-content: space-between;
    gap: 1rem;
}

.form-sup1, .form-sup2{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 1rem;
}

/*inicia elemento cuadrillas*/
.contenedor-cuadrillas{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;
    gap: .4rem;
}

.contenedor-cuadrillas label{
    font-weight: bold;
}

.contenedor-cuadrillas label span{
    font-weight: bold;
    color: red;
}

.contenedor-cuadrillas input{
    padding: .5em;
    outline: none;
}
/*termina elemento cuadrillas*/

#fecha-h-inicio-final{
    display: flex; 
    flex-wrap: wrap;
    flex-direction: row;
}

.form-sup-e{
    padding: .5rem;
    gap: 1rem;
}

.form-sup-e label{
    display: flex;
    justify-content: space-between;
    gap: .5rem;
}

.form-sup-e input{
    height: 35px;
    padding: .3rem;
    outline: none;
}

.section-situacion, .section-inspeccion{
    margin: .5rem 0 0 1.2rem;
    border-bottom: solid 1px gray;
}

.contenedor-condiciones{
    margin:.5rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.contenedor-condiciones label{
    display: flex;
    gap: .4rem;
}

.section-inspeccion, .section-situacion{
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}

.contenedor-observaciones, .contenedor-recomendaciones{
    margin: .8rem 0 .8rem 1.2rem;
    border-bottom: solid 1px gray;
}

.contenedor-observaciones label, .contenedor-recomendaciones label{
    display: flex;
    justify-content: space-between;
    margin:.5rem;
    gap: .5rem;
    font-weight: bold;
}

.contenedor-supervisor, .contenedor-jefe-cuadrilla{
    margin: 1.5rem 0 1rem 1.2rem;
}

.contenedor-supervisor, .contenedor-jefe-cuadrilla label{
    font-weight: bold;
}

#jefe-cuadrilla, #supervisor{
    height: 35px;
    padding: .5rem;
    width: fit-content;
    outline: none;
}

#t-observaciones, #t-recomendaciones{
    height: 65px;
    resize: none;
    border: none;
    outline: none;
    padding: .5rem;
    border-radius: 2px;
    border-bottom: solid 1px rgb(158, 158, 158);
    width: 60%;
}

#btnGenerar{
    cursor: pointer;
    position: fixed;
    top: 90px;
    right: 10px;
    color: red;
    padding: .5rem;
    width: min-content;
    border-radius: 60%;
    border: solid 1px red;
    transition: all ease-in-out .2s;
}

#btnGenerar:hover{
    transform: scale(1.4);
}

#supervisor-nombres, #supervisor-apellidos, #supervisor-firma, #supervisor-dni{
    display: none;
}

#nombres, #apellidos, #firma, #dni{
    display: none;
}

@media screen and (width<=720px){

    .main{
        width: 100%;
    }

    .logo-title{
        flex-direction: column;
        justify-content: center;
        place-items: center;
    }

    .logo-title div{
        font-size: 1rem;
    }

    .form-sup{
        flex-direction: column;
    }

    .form-sup1, .form-sup2{
        width: 100%;
    }

    .form-sup-e{
        max-width:rem
    }

    .form-sup-e label{
        display: flex;
        flex-direction: column;
    }

    .contenedor-condiciones{
        display: flex;
        flex-direction: column;
    }

    .contenedor-condiciones label{
        display: flex;
        align-items: center;
        font-size: .9rem;
    }
    
    .detalle {
        margin-top: 5px; /* Espacio entre el texto Mixto y el input detalle */
    }

    .contenedor-condiciones input[type=text]{
        max-height: 19.2px;
        width: 25%;
    }

    .contenedor-observaciones, .contenedor-recomendaciones   {
        max-width: 100%;
    }
}